/* Navbar CSS */

.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 18px;
    position: fixed;
    width: 100%;
    text-decoration: none;
    padding: 5px;
    z-index: 2;
    background-color:var(--background-color);
    color: var(--white-color);
  }
  
  .navbar-list {
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 20px;
    padding-right: 80px;
    color: var(--white-color);
  }
  .navbar ul li a {
    color: var(--white-color);
  }
  
  .navbar-list a {
    text-decoration: none;
  }
  .Logo {
    padding: 20px 20px 20px 90px;
    font-size: 15px;
    font-weight: 800;
    text-decoration: none;
    color: var(--white-color);
  }

/* Footer CSS */

.footer{
    background-color: var(--background-color);
    color: var(--white-color);
    text-align: center;
    padding:30px 0px 10px 0px;
    margin-top: 120px;
    height:60px;
    
}
.footer-icons{
    color: var(--white-color);
    text-align: center; 
    padding: 5px;   
}