:root {
  --black-color: black;
  --white-color: #ffffff;
  --background-color: #be8abf;
  --hover-color: #b667f1;
  --red-color: #e74c3c;
  --green-color: #2ecc71;
  --yellow-color: #f1c40f;
  --blue-color: #3498db;
  --border-color:rgba(128, 128, 128, 0.363);
  --gray-color:gray;
  
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: nowrap;
}
